$topnavHeight = 40px
$leftnavWidth = 120px

.backend-wrapper
.backend
	width 100%
	height 100%

.backend
	padding-top $topnavHeight
	color #999
	& a
		color #666
		&:hover
			color #333

.backend-topnav
	position fixed
	top 0
	padding 0 30px
	width 100%
	height $topnavHeight
	line-height $topnavHeight
	background-color #95a5a6
	background-image linear-gradient(hsla(0, 0%, 70%, 1), hsla(0, 0%, 100%, 0))
	color #ecf0f1
	text-align center
	& a
		color @color
		&:hover
			color white

.backend-leftnav
	position fixed
	top $topnavHeight
	width $leftnavWidth
	height 100%
	background-color #ecf0f1
	& > ul
		list-style none
		margin 0
		padding 0
		& > li
			& > a
				display block
				padding 6px 0
				text-align center

.backend-main-wrapper
	margin-left $leftnavWidth

.backend-main
	padding 15px

.page-title
	margin-bottom 30px

.page-nav
	margin-bottom 30px
