<template name="backend-leftnav">

	<div class="backend-leftnav-wrapper">
		<div class="backend-leftnav">
			<ul>
				<li>
					<a href="{{pathFor 'backend-home'}}">后台首页</a>
				</li>
				<li>
					<a href="{{pathFor 'backend-posts'}}">网站内容</a>
				</li>
				<li>
					<a href="{{pathFor 'backend-galleries'}}">相册管理</a>
				</li>
				<li>
					<a href="{{pathFor 'backend-system'}}">系统管理</a>
				</li>
				<li>
					<a href="{{pathFor 'website-home'}}">返回首页</a>
				</li>
			</ul>
		</div>
	</div>

</template>
