// box

.box
	overflow hidden
	border-radius 4px
	font-size 13px

.box-header
	padding 5px 15px
	background-color #95a5a6
	background-image linear-gradient(hsla(0, 0%, 70%, 1), hsla(0, 0%, 100%, 0))
	color #ecf0f1
	font-size 14px
	& a
		color @color
		&:hover
			color white

.box-body
	& ul
		list-style none
		margin 0
		padding 0
