html
body
	width 100%
	height 100%

body
	font 14px/1.6 "Hiragino Sans GB", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif
    -webkit-font-smoothing antialiased

a
	&:hover
		color #000
		text-decoration none

h1, h2, h3, h4, h5, h6
	margin-top 0

h1, h2, h3
	margin-bototm 30px

h4, h5, h6
	margin-bototm 15px

textarea
	resize none

.nmg
	margin 0

.mgb-xs
	margin-bottom 10px

.mgb-sm
	margin-bottom 15px

.pd10
	padding 10px

.fit-width
	width 100%

.text-xs
	font-size 12px

.text-sm
	font-size 13px

.row-xs
	margin-left -5px
	margin-right @margin-left

.col-xs
	padding-left 5px
	padding-right 5px

.bordered
	border 1px solid #ecf0f1
