<template name="website-module-unknown">

	<div class="box">
		<div class="box-header">
			<a href="">新闻动态</a>
		</div>
		<div class="box-body pd10 bordered">
			<ul>
				{{#each latestPosts '新闻动态' 10}}
					<li class="clearfix">
						<a href="" class="pull-right text-xs">{{formatDate createdAt 'YYYY/MM/DD'}}</a>
						<a href="">· {{truncate title 22}}</a>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>

</template>

<template name="website-module-unknown1">

	<div id="yourdiv">
		<ol>
			<li>
				<h2>
					<span>便民网上申请</span>
				</h2>
				<div></div>
			</li>
			<li>
				<h2>
					<span>待定栏目</span>
				</h2>
				<div></div>
			</li>
			<li>
				<h2>
					<span>办事流程查询</span>
				</h2>
				<div></div>
			</li>
			<li>
				<h2>
					<span>政策法规</span>
				</h2>
				<div></div>
			</li>
		</ol>
	</div>

</template>
