//

.website
	color slategrey
	& a
		color slategrey
		&:hover
			color navy
	& label
		font-size 12px
		font-weight normal

.website-topnav-wrapper
	position relative
	z-index 999
	// margin-bottom 15px
	height 240px
	line-height @height
	background url('/headerbg.jpg')	no-repeat center center
	background-size cover
	& .website-topnav
		position absolute
		bottom 0
		left 0
		padding-top 12px
		width 100%
		height 52px
		background-color rgba(255, 255, 255, .4)
		background-image linear-gradient(hsla(0, 0%, 70%, .7), hsla(0, 0%, 100%, 1))
	& .nav-tabs
		border-bottom 0
	& .nav-tabs > li
		margin-bottom 0
	& .nav-tabs > li.active > a
		color slategrey
		&:hover
			background-color white
	& .nav-tabs > li > a
		padding 10px 20px
		border 0
		border-radius 4px 4px 0 0
		color slategrey
		&:hover
			border 0
			border-radius 4px 4px 0 0
			background-color transparent
			color navy

.website-topnav-fixed
	position fixed
	top 0
	left 0
	width 100%
	background-color rgba(255, 255, 255, .4)
	background-image linear-gradient(hsla(0, 0%, 100%, 1), hsla(0, 0%, 70%, .7))

.website-infobar-wrapper
	font-size 12px
	& .website-infobar
		padding 10px 0

.website .liteAccordion.basic .slide > h2
	background-color #efefef
	color #999
