<template name="website-topnav">

	<div class="website-topnav-wrapper">
		<div class="website-topnav">
			<div class="container">
				<ul class="nav nav-tabs">
					<li class="{{activeFor 'website-home'}}">
						<a href="{{pathFor 'website-home'}}">首页</a>
					</li>
					<li class="{{activeFor}}">
						<a href="javascript:;">图片新闻</a>
					</li>
					<li class="{{activeFor}}">
						<a href="javascript:;">?</a>
					</li>
					<li class="{{activeFor}}">
						<a href="javascript:;">政务办公</a>
					</li>
					<li class="{{activeFor}}">
						<a href="javascript:;">党群工作</a>
					</li>
					<li class="{{activeFor}}">
						<a href="javascript:;">社区服务</a>
					</li>
					<li class="{{activeFor}}">
						<a href="javascript:;">城市管理</a>
					</li>
					<li class="{{activeFor}}">
						<a href="javascript:;">?</a>
					</li>
					<li class="{{activeFor}}">
						<a href="javascript:;">社区文化</a>
					</li>
					<li class="{{activeFor}}">
						<a href="javascript:;">法律诊所</a>
					</li>
					<li class="{{activeFor}}">
						<a href="javascript:;">远教天地</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</template>
