<template name="website-home">

	<div class="row row-xs mgb-xs">
		<div class="col-md-12 col-xs">
			<div class="box-figure" style="height: 100px; background-image: url('/banner01.jpg');"></div>
		</div>
	</div>

	<div class="row row-xs mgb-xs">
		<div class="col-md-4 col-xs">
			{{> website-module-imageNews}}
		</div>
		<div class="col-md-5 col-xs">
			{{> website-module-unknown}}
		</div>
		<div class="col-md-3 col-xs">
			{{> website-module-notices}}
		</div>
	</div>

	<div class="row row-xs mgb-xs">
		<div class="col-md-9 col-xs">
			<div class="row row-xs mgb-xs">
				<div class="col-md-4 col-xs">
					{{> website-module-sign}}
				</div>
				<div class="col-md-8 col-xs">
					{{> website-module-unknown1}}
				</div>
			</div>
			<div class="row row-xs">
				<div class="col-md-12 col-xs">
					<div class="box">
						<div class="box-header">
							<a href="">test</a>
						</div>
						<div class="pd10 bordered" style="height: 130px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs">
			<div class="row row-xs mgb-xs">
				<div class="col-md-12 col-xs">
					<div class="box">
					<div class="box-header">
						<a href="">街道概况</a>
					</div>
					<div class="pd10 bordered">
						<p>扫尘日，即从每年农历腊月二十三日起到除夕止，我国传统习俗把这段时间叫做“迎春日”，其中，腊月二十三为传统小年，也称“祭灶日”，腊月二十四则为“扫尘日”。扫尘就是年终大扫除，北方称“扫房”，南方叫“掸尘”，除旧布新、迎接新年。</p>
					</div>
				</div>
				</div>
			</div>

			<div class="row row-xs">
				<div class="col-md-12 col-xs">
					<div class="box">
					<div class="box-header">
						<a href="">联系我们</a>
					</div>
					<div class="pd10 bordered">
						<p>地址：哈尔滨市道里区</p>
						<p>电话：18686861930</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row row-xs mgb-xs">
		<div class="col-md-3 col-xs">
			<div class="row row-xs mgb-xs">
				<div class="col-md-12 col-xs">
					<div class="box">
						<div class="box-header">
							<a href="">政务办公</a>
						</div>
						<div class="box-body pd10 bordered">
							<ul class="list-unstyled nmg">
								<li>
									<a href="">政策法规</a>
								</li>
								<li>
									<a href="">规章制度</a>
								</li>
								<li>
									<a href="">办事流程</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-xs mgb-xs">
				<div class="col-md-12 col-xs">
					<div class="box">
						<div class="box-header">
							<a href="">待定栏目</a>
						</div>
						<div class="box-body pd10 bordered">
							<ul>
								<li>
									<a href="">道里区招商投资优惠政策</a>
								</li>
								<li>
									<a href="">招商引资绿色通道服务</a>
								</li>
								<li>
									<a href="">招商认定所需材料</a>
								</li>
								<li>
									<a href="">商圈介绍</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-xs mgb-xs">
				<div class="col-md-12 col-xs">
					<div class="box">
						<div class="box-header">
							<a href="">司法综治</a>
						</div>
						<div class="box-body pd10 bordered">
							<ul>
								<li>
									<a href="">办理法律援助案件程序</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-xs mgb-xs">
				<div class="col-md-12 col-xs">
					<div class="box">
						<div class="box-header">
							<a href="">相关链接</a>
						</div>
						<div class="box-body pd10 bordered">
							<ul>
								<li>
									<a href="">道里区委</a>
								</li>
								<li>
									<a href="">道里区政府</a>
								</li>
								<li>
									<a href="">哈尔滨社区服务网</a>
								</li>
								<li>
									<a href="">哈尔滨社区教育网</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-xs">
			<div class="row row-xs mgb-xs">
				<div class="col-md-6 col-xs">
					{{> website-module-unknown}}
				</div>
				<div class="col-md-6 col-xs">
					{{> website-module-notices}}
				</div>
			</div>

			<div class="row row-xs mgb-xs">
				<div class="col-md-6 col-xs">
					{{> website-module-unknown}}
				</div>
				<div class="col-md-6 col-xs">
					{{> website-module-notices}}
				</div>
			</div>

			<div class="row row-xs mgb-xs">
				<div class="col-md-12 col-xs">
					{{> website-module-gallery}}
				</div>
			</div>
		</div>
	</div>

</template>
